<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wake ~N~ Bake</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css"> 
  <link rel="stylesheet" href="/css/cursor.css"> 

</head>

<body>
    <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Wake ~N~ Bake</a>
      </h1>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
{{!-- animation of dancing/bouncing mushroom --}}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </footer>
    </div>

{{!-- Renders the script for the users who are logged in --}}
  {{#if logged_in}}
  <script src="/logout.js"></script>
  {{/if}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>  
</body>

<footer>
    <link rel="stylesheet" href="/css/cursor.css"> 

</footer>

</html>