<div class="chef"></div>
<h1>Homepage</h1>

<div class="fixed_search_area">
    <form>
        <input type="search" placeholder="Search">
        <span>
            <button id="search" class="btn">Search<i
                    class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </span>
    </form>
</div>

<h2 id="randomQuoteArea"></h2>

<script src="./js/homepage.js"></script>