{{!-- this will have the recipe book webpage --}}
{{!-- page should render images of saved/logged recipes with ability to open the images, giving access to the recipes --}}


CARD: FROM BOOTSTRAP
{{!-- Would like for this card to show the img of the recipe saved --}}
{{!-- card title = recipe name --}}
{{!-- card text = brief description of recipe --}}
{{!-- card links to take you to the recipe from the API --}}
<div class="card-group">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>