* {
    cursor: url(/images/cursor-chef.svg), auto;

}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:rgb(56, 125, 97);
}

.box {
    height: 100vh;
    width: 100%
}

.chef {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 50px;
}

footer {
    background-image: url(https://download-free-images.com/img/00003/nature-526509.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}




/* button {
    padding: 1em 2em;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 1em;
    width: 50%;
    background: #e6ffe6;
    border-radius: 5px;
    letter-spacing: 1px;
}

button:hover,
button:focus {
    cursor: url(./cursor-chef.svg), auto;    
} */
